body{
    margin-left: 35px;
}
.courses{
  
    background-color: gray;
}


.r1{
    flex-wrap: nowrap;
}

.r2{
    flex-wrap: nowrap;
}
.r3{
    flex-wrap: nowrap;
}
.offered-courses{
    padding-top: 40px;
    background-color: lightgrey;
}