body{
    margin-left: 35px;
}
.courses{
  
    background-color: gray;
}


.r1{
  
    padding-bottom: 100px;
    gap: 20px;
    
}

.r2{
  
    padding-bottom: 100px;
    gap: 20px;
}
.r3{
 
    padding-bottom: 100px;
    gap: 20px;
}
.offered-courses{
    padding-top: 40px;
    padding-left: 100px;
    background-color: lightgrey;
}
.brag{
    height: 70px;
}
.sec-one{
    padding-bottom: 25px;
}
.card{
    border-radius: 20px;
    
}
