
.courses{
  
    background-color: gray;
}
.programs{
    background-color: aqua;
}
.first-box{
    margin-bottom: 10px;;
    border: solid;
    height: 100px;
}
.second-box{
    border: solid;
    height: 100px;
    
}
.paragraph-1{
    font-size: x-small;
    
}

.r1{
    flex-wrap: nowrap;
}

.r2{
    flex-wrap: nowrap;
}
.r3{
    flex-wrap: nowrap;
}