body{
    margin-left: 35px;
}
.jumbotron{
    background-color: rgb(75, 68, 171);
    
}

.courses{
  
    background-color: gray;
}
.hdimg{
    height:25px;
}

.r1{
  
    padding-bottom: 100px;
    gap: 20px;
    
}

.r2{
    
    padding-bottom: 100px;
    gap: 20px;
}
.r3{
  
    padding-bottom: 100px;
    gap: 20px;
}
.offered-courses{
    padding-top: 40px;
    padding-left: 15vw;
   
    background-color: lightgrey;
}
.brag{
    height: 70px;
}
.sec-one{
    padding-bottom: 25px;
}
.card{
    border-radius: 20px;
    width: 500px;
   
    
}
img{
    width: 18rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-header{
    padding: 0;
    
}
h5{
    color:black;
}
p{
    color:black;
}
button{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    font-size: xx-small;

}
.bts1{
    background-color: rgb(129, 217, 129);
    border: transparent;
    color:white;
}
.bts2{
    background-color: white;
    border: transparent;
}
.itm1{
    font-size: 30px;
}
