body{
    margin-left: 35px;
}
.courses{
  
    background-color: gray;
}


.r1{
    flex-wrap: nowrap;
    padding-bottom: 100px;
}

.r2{
    flex-wrap: nowrap;
    padding-bottom: 100px;
}
.r3{
    flex-wrap: nowrap;
    padding-bottom: 100px;
}
.offered-courses{
    padding-top: 40px;
    background-color: lightgrey;
}
.brag{
    height: 70px;
}
.sec-one{
    padding-bottom: 25px;
}